In [47]:

list_1 = [18, 12, 99, 80, 33, 52, 37, 89, 98, 2, 66, 11, 80, 25, 39, 55, 46, 84, 37, 70, 57, 71, 26, 1, 75]
print('List 1 =', list_1)
print('Type =', type(list_1))
print('Sum > 200 =', sum(list_1) > 200)

list_2 = [25, 22, 22, 51, 11, 49, 52, 49, 42, 29, 1, 46, 48, 43, 25, 31, 94, 52, 41, 33, 17, 64, 89, 72, 8]
print('List 2=', list_2)
print('Type=', type(list_2))
print('Sum < 800=', sum(list_2) < 800)

list_3 = [9, 61, 78, 10, 25, 14, 75, 21, 9, 5, 79, 23, 12, 92, 51, 37, 52, 4, 1, 93, 2, 88, 48, 74, 9]
print('List 3=', list_3)
print('Type=', type(list_3))
print('Sum < 500=', sum(list_3) < 500)

list_4 = [47, 18, 100, 48, 75, 48, 5, 97, 59, 20, 13, 18, 58, 7, 2, 42, 84, 69, 32, 34, 6, 81, 74, 25, 64]
print('List 4=', list_4)
print('Type=', type(list_4))
print('Sum > 1000', sum(list_4) > 1000)

list_5 = [73, 93, 40, 55, 19, 51, 98, 32, 62, 34, 18, 75, 55, 16, 24, 37, 21, 14, 46, 47, 90, 36, 93, 27, 66]
print('List 5=', list_5)
print('Type=', type(list_5))
print('Sum > 1500=', sum(list_5) > 1500)
print("")

student_1 = {'name': 'Suresh', 'age': 27, 'city': 'Hyderabad', 'country': 'UK', 'email': 'student629@gmail.com', 'phone': '7385608806', 'roll_no': 59, 'grade': 'C', 'subject': 'English', 'marks': 82, 'height': 162, 'weight': 61, 'blood_group': 'B-', 'hobby': 'Singing', 'sports': 'Cricket', 'language': 'Hindi', 'father_name': 'Karan', 'mother_name': 'Rohit', 'college': 'College_8', 'year': 2023}
print('Student 1 =', student_1)
print('Type =', type(student_1))
print('Age >= 21 =', student_1['age'] >= 21)
print('Marks > 50 =', student_1['marks'] > 50)

student_2 = {'name': 'Karan', 'age': 26, 'city': 'Nagpur', 'country': 'USA', 'email': 'student233@gmail.com', 'phone': '9345882208', 'roll_no': 210, 'grade': 'B', 'subject': 'Science', 'marks': 93, 'height': 150, 'weight': 24, 'blood_group': 'AB+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Hindi', 'father_name': 'Suresh', 'mother_name': 'Priya', 'college': 'College_8', 'year': 2022}
print('Student 2 =', student_2)
print('Type =', type(student_2))
print('Age < 18 =', student_2['age'] < 18)
print('Marks < 40 =', student_2['marks'] <40)

student_3 = {'name': 'Neha', 'age': 21, 'city': 'Nagpur', 'country': 'USA', 'email': 'student859@gmail.com', 'phone': '9713420158', 'roll_no': 420, 'grade': 'B', 'subject': 'Computer', 'marks': 90, 'height': 182, 'weight': 64, 'blood_group': 'O-', 'hobby': 'Singing', 'sports': 'Cricket', 'language': 'Tamil', 'father_name': 'Karan', 'mother_name': 'Meera', 'college': 'College_2', 'year': 2025}
print('Student 3 =', student_3)
print('Type =', type(student_3))
print('Age < 28 =', student_3['age'] < 28)
print('Marks >= 50 =', student_3['marks'] >= 50)

student_4 = {'name': 'Neha', 'age': 29, 'city': 'Nagpur', 'country': 'Canada', 'email': 'student953@gmail.com', 'phone': '7452958433', 'roll_no': 99, 'grade': 'A', 'subject': 'Science', 'marks': 33, 'height': 168, 'weight': 64, 'blood_group': 'AB+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Marathi', 'father_name': 'Neha', 'mother_name': 'Priya', 'college': 'College_7', 'year': 2023}
print('Student 4 =', student_4)
print('Type =', type(student_4))
print('Age >= 20 =', student_4['age'] >= 20)
print('Marks > 50 =', student_4['marks'] > 50)

student_5 = {'name': 'Suresh', 'age': 27, 'city': 'Nagpur', 'country': 'India', 'email': 'student1049@gmail.com', 'phone': '8492360024', 'roll_no': 22, 'grade': 'D', 'subject': 'History', 'marks': 86, 'height': 152, 'weight': 74, 'blood_group': 'A-', 'hobby': 'Dancing', 'sports': 'Football', 'language': 'Telugu', 'father_name': 'Amit', 'mother_name': 'Meera', 'college': 'College_10', 'year': 2024}
print('Student 5 =', student_5)
print('Type =', type(student_5))
print('Age >= 21 =', student_5['age'] >= 21)
print('Marks >= 50 =', student_5['marks'] >= 50)

List 1 = [18, 12, 99, 80, 33, 52, 37, 89, 98, 2, 66, 11, 80, 25, 39, 55, 46, 84, 37, 70, 57, 71, 26, 1, 75]
Type = <class 'list'>
Sum > 200 = True
List 2= [25, 22, 22, 51, 11, 49, 52, 49, 42, 29, 1, 46, 48, 43, 25, 31, 94, 52, 41, 33, 17, 64, 89, 72, 8]
Type= <class 'list'>
Sum < 800= False
List 3= [9, 61, 78, 10, 25, 14, 75, 21, 9, 5, 79, 23, 12, 92, 51, 37, 52, 4, 1, 93, 2, 88, 48, 74, 9]
Type= <class 'list'>
Sum < 500= False
List 4= [47, 18, 100, 48, 75, 48, 5, 97, 59, 20, 13, 18, 58, 7, 2, 42, 84, 69, 32, 34, 6, 81, 74, 25, 64]
Type= <class 'list'>
Sum > 1000 True
List 5= [73, 93, 40, 55, 19, 51, 98, 32, 62, 34, 18, 75, 55, 16, 24, 37, 21, 14, 46, 47, 90, 36, 93, 27, 66]
Type= <class 'list'>
Sum > 1500= False

Student 1 = {'name': 'Suresh', 'age': 27, 'city': 'Hyderabad', 'country': 'UK', 'email': 'student629@gmail.com', 'phone': '7385608806', 'roll_no': 59, 'grade': 'C', 'subject': 'English', 'marks': 82, 'height': 162, 'weight': 61, 'blood_group': 'B-', 'hobby': 'Singing', 'sports': 'Cricket', 'language': 'Hindi', 'father_name': 'Karan', 'mother_name': 'Rohit', 'college': 'College_8', 'year': 2023}
Type = <class 'dict'>
Age >= 21 = True
Marks > 50 = True
Student 2 = {'name': 'Karan', 'age': 26, 'city': 'Nagpur', 'country': 'USA', 'email': 'student233@gmail.com', 'phone': '9345882208', 'roll_no': 210, 'grade': 'B', 'subject': 'Science', 'marks': 93, 'height': 150, 'weight': 24, 'blood_group': 'AB+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Hindi', 'father_name': 'Suresh', 'mother_name': 'Priya', 'college': 'College_8', 'year': 2022}
Type = <class 'dict'>
Age < 18 = False
Marks < 40 = False
Student 3 = {'name': 'Neha', 'age': 21, 'city': 'Nagpur', 'country': 'USA', 'email': 'student859@gmail.com', 'phone': '9713420158', 'roll_no': 420, 'grade': 'B', 'subject': 'Computer', 'marks': 90, 'height': 182, 'weight': 64, 'blood_group': 'O-', 'hobby': 'Singing', 'sports': 'Cricket', 'language': 'Tamil', 'father_name': 'Karan', 'mother_name': 'Meera', 'college': 'College_2', 'year': 2025}
Type = <class 'dict'>
Age < 28 = True
Marks >= 50 = True
Student 4 = {'name': 'Neha', 'age': 29, 'city': 'Nagpur', 'country': 'Canada', 'email': 'student953@gmail.com', 'phone': '7452958433', 'roll_no': 99, 'grade': 'A', 'subject': 'Science', 'marks': 33, 'height': 168, 'weight': 64, 'blood_group': 'AB+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Marathi', 'father_name': 'Neha', 'mother_name': 'Priya', 'college': 'College_7', 'year': 2023}
Type = <class 'dict'>
Age >= 20 = True
Marks > 50 = False
Student 5 = {'name': 'Suresh', 'age': 27, 'city': 'Nagpur', 'country': 'India', 'email': 'student1049@gmail.com', 'phone': '8492360024', 'roll_no': 22, 'grade': 'D', 'subject': 'History', 'marks': 86, 'height': 152, 'weight': 74, 'blood_group': 'A-', 'hobby': 'Dancing', 'sports': 'Football', 'language': 'Telugu', 'father_name': 'Amit', 'mother_name': 'Meera', 'college': 'College_10', 'year': 2024}
Type = <class 'dict'>
Age >= 21 = True
Marks >= 50 = True

In [48]:

list_6 = [6, 95, 100, 61, 46, 10, 19, 98, 41, 85, 19, 94, 74, 51, 56, 61, 94, 8, 77, 90, 79, 98, 53, 7, 82]
print('List 6 =', list_6)
print('Type =', type(list_6))
print('Sum > 200 =', sum(list_6) > 200)

list_7 = [95, 16, 33, 83, 7, 88, 81, 20, 73, 81, 63, 61, 78, 92, 67, 57, 98, 45, 46, 38, 76, 33, 98, 39, 47]
print('List 7 =', list_7)
print('Type =', type(list_7))
print('Sum > 5000 =', sum(list_7) > 5000)

list_8 = [70, 37, 52, 94, 97, 95, 37, 20, 23, 38, 39, 92, 7, 43, 37, 46, 2, 46, 91, 22, 49, 33, 40, 68, 26]
print('List 8 =', list_8)
print('Type =', type(list_8))
print('Sum < 1000 =', sum(list_8) < 1000)

list_9 = [53, 52, 97, 89, 62, 12, 72, 11, 8, 10, 46, 52, 77, 100, 78, 21, 27, 21, 46, 3, 90, 47, 2, 39, 51]
print('List 9 =', list_9)
print('Type =', type(list_9))
print('Sum > 500 =', sum(list_9) > 500)

list_10 = [73, 41, 10, 29, 18, 83, 37, 78, 1, 23, 7, 13, 60, 58, 64, 5, 29, 27, 29, 48, 51, 13, 57, 57, 8]
print('List 10 =', list_10)
print('Type =', type(list_10))
print('Sum < 50 =', sum(list_10) < 50)
print("")

student_6 = {'name': 'Anita', 'age': 22, 'city': 'Mumbai', 'country': 'Australia', 'email': 'student642@gmail.com', 'phone': '972552639', 'roll_no': 355, 'grade': 'B', 'subject': 'Math', 'marks': 48, 'height': 151, 'weight': 86, 'blood_group': 'A-', 'hobby': 'Singing', 'sports': 'Football', 'language': 'Hindi', 'father_name': 'Neha', 'mother_name': 'Suresh', 'college': 'College_12', 'year': 2023}
print('Student 6 =', student_6)
print('Type =', type(student_6))
print('Age < 18 =', student_6['age'] < 18)
print('Marks > 75 =', student_6['marks'] > 75)

student_7 = {'name': 'Meera', 'age': 19, 'city': 'Delhi', 'country': 'Australia', 'email': 'student1729@gmail.com', 'phone': '7541012162', 'roll_no': 219, 'grade': 'B', 'subject': 'Computer', 'marks': 82, 'height': 172, 'weight': 63, 'blood_group': 'O+', 'hobby': 'Football', 'sports': 'Cricket', 'language': 'Telugu', 'father_name': 'Arjun', 'mother_name': 'Arjun', 'college': 'College_14', 'year': 2022}
print('Student 7 =', student_7)
print('Type =', type(student_7))
print('Age >= 25 =', student_7['age'] >= 25)
print('Marks >= 50 =', student_7['marks'] >= 50)

student_8 = {'name': 'Arjun', 'age': 24, 'city': 'Bangalore', 'country': 'USA', 'email': 'student1850@gmail.com', 'phone': '7789552592', 'roll_no': 106, 'grade': 'D', 'subject': 'English', 'marks': 39, 'height': 189, 'weight': 65, 'blood_group': 'B+', 'hobby': 'Dancing', 'sports': 'Cricket', 'language': 'English', 'father_name': 'Pooja', 'mother_name': 'Karan', 'college': 'College_20', 'year': 2022}
print('Student 8 =', student_8)
print('Type =', type(student_8))
print('Age >= 21 =', student_8['age'] >= 21)
print('Marks >= 80 =', student_8['marks'] >= 80)

student_9 = {'name': 'Rohit', 'age': 28, 'city': 'Pune', 'country': 'India', 'email': 'student1915@gmail.com', 'phone': '6117009767', 'roll_no': 401, 'grade': 'C', 'subject': 'English', 'marks': 69, 'height': 152, 'weight': 50, 'blood_group': 'B-', 'hobby': 'Cricket', 'sports': 'Hockey', 'language': 'Hindi', 'father_name': 'Amit', 'mother_name': 'Suresh', 'college': 'College_1', 'year': 2023}
print('Student 9 =', student_9)
print('Type =', type(student_9))
print('Age < 21 =', student_9['age'] < 21)
print('Marks >= 60 =', student_9['marks'] >= 60)

student_10 = {'name': 'Amit', 'age': 27, 'city': 'Mumbai', 'country': 'Australia', 'email': 'student2024@gmail.com', 'phone': '6864492870', 'roll_no': 112, 'grade': 'D', 'subject': 'Computer', 'marks': 75, 'height': 156, 'weight': 73, 'blood_group': 'A-', 'hobby': 'Reading', 'sports': 'Hockey', 'language': 'Telugu', 'father_name': 'Priya', 'mother_name': 'Arjun', 'college': 'College_16', 'year': 2025}
print('Student 10 =', student_10)
print('Type =', type(student_10))
print('Age >= 21 =', student_10['age'] >= 21)
print('Marks < 40 =', student_10['marks'] < 40)

List 6 = [6, 95, 100, 61, 46, 10, 19, 98, 41, 85, 19, 94, 74, 51, 56, 61, 94, 8, 77, 90, 79, 98, 53, 7, 82]
Type = <class 'list'>
Sum > 200 = True
List 7 = [95, 16, 33, 83, 7, 88, 81, 20, 73, 81, 63, 61, 78, 92, 67, 57, 98, 45, 46, 38, 76, 33, 98, 39, 47]
Type = <class 'list'>
Sum > 5000 = False
List 8 = [70, 37, 52, 94, 97, 95, 37, 20, 23, 38, 39, 92, 7, 43, 37, 46, 2, 46, 91, 22, 49, 33, 40, 68, 26]
Type = <class 'list'>
Sum < 1000 = False
List 9 = [53, 52, 97, 89, 62, 12, 72, 11, 8, 10, 46, 52, 77, 100, 78, 21, 27, 21, 46, 3, 90, 47, 2, 39, 51]
Type = <class 'list'>
Sum > 500 = True
List 10 = [73, 41, 10, 29, 18, 83, 37, 78, 1, 23, 7, 13, 60, 58, 64, 5, 29, 27, 29, 48, 51, 13, 57, 57, 8]
Type = <class 'list'>
Sum < 50 = False

Student 6 = {'name': 'Anita', 'age': 22, 'city': 'Mumbai', 'country': 'Australia', 'email': 'student642@gmail.com', 'phone': '972552639', 'roll_no': 355, 'grade': 'B', 'subject': 'Math', 'marks': 48, 'height': 151, 'weight': 86, 'blood_group': 'A-', 'hobby': 'Singing', 'sports': 'Football', 'language': 'Hindi', 'father_name': 'Neha', 'mother_name': 'Suresh', 'college': 'College_12', 'year': 2023}
Type = <class 'dict'>
Age < 18 = False
Marks > 75 = False
Student 7 = {'name': 'Meera', 'age': 19, 'city': 'Delhi', 'country': 'Australia', 'email': 'student1729@gmail.com', 'phone': '7541012162', 'roll_no': 219, 'grade': 'B', 'subject': 'Computer', 'marks': 82, 'height': 172, 'weight': 63, 'blood_group': 'O+', 'hobby': 'Football', 'sports': 'Cricket', 'language': 'Telugu', 'father_name': 'Arjun', 'mother_name': 'Arjun', 'college': 'College_14', 'year': 2022}
Type = <class 'dict'>
Age >= 25 = False
Marks >= 50 = True
Student 8 = {'name': 'Arjun', 'age': 24, 'city': 'Bangalore', 'country': 'USA', 'email': 'student1850@gmail.com', 'phone': '7789552592', 'roll_no': 106, 'grade': 'D', 'subject': 'English', 'marks': 39, 'height': 189, 'weight': 65, 'blood_group': 'B+', 'hobby': 'Dancing', 'sports': 'Cricket', 'language': 'English', 'father_name': 'Pooja', 'mother_name': 'Karan', 'college': 'College_20', 'year': 2022}
Type = <class 'dict'>
Age >= 21 = True
Marks >= 80 = False
Student 9 = {'name': 'Rohit', 'age': 28, 'city': 'Pune', 'country': 'India', 'email': 'student1915@gmail.com', 'phone': '6117009767', 'roll_no': 401, 'grade': 'C', 'subject': 'English', 'marks': 69, 'height': 152, 'weight': 50, 'blood_group': 'B-', 'hobby': 'Cricket', 'sports': 'Hockey', 'language': 'Hindi', 'father_name': 'Amit', 'mother_name': 'Suresh', 'college': 'College_1', 'year': 2023}
Type = <class 'dict'>
Age < 21 = False
Marks >= 60 = True
Student 10 = {'name': 'Amit', 'age': 27, 'city': 'Mumbai', 'country': 'Australia', 'email': 'student2024@gmail.com', 'phone': '6864492870', 'roll_no': 112, 'grade': 'D', 'subject': 'Computer', 'marks': 75, 'height': 156, 'weight': 73, 'blood_group': 'A-', 'hobby': 'Reading', 'sports': 'Hockey', 'language': 'Telugu', 'father_name': 'Priya', 'mother_name': 'Arjun', 'college': 'College_16', 'year': 2025}
Type = <class 'dict'>
Age >= 21 = True
Marks < 40 = False

In [49]:

list_11 = [50, 29, 18, 52, 24, 81, 24, 56, 96, 43, 55, 76, 82, 87, 70, 8, 41, 89, 36, 77, 95, 39, 79, 40, 61]
print('List 11 =', list_11)
print('Type =', type(list_11))
print('Sum > 500 =', sum(list_11) > 500)

list_12 = [53, 44, 16, 29, 15, 67, 95, 13, 56, 35, 50, 48, 1, 64, 13, 60, 57, 50, 33, 5, 60, 95, 69, 24, 82]
print('List 12 =', list_12)
print('Type =', type(list_12))
print('Sum < 1200 =', sum(list_12) < 1200)

list_13 = [77, 12, 1, 48, 85, 97, 65, 100, 9, 83, 3, 90, 53, 19, 56, 34, 74, 90, 17, 32, 34, 64, 29, 44, 4]
print('List 13 =', list_13)
print('Type =', type(list_13))
print('Sum > 2000 =', sum(list_13) > 2000)

list_14 = [35, 70, 95, 29, 37, 79, 97, 70, 32, 10, 63, 45, 97, 47, 77, 55, 56, 47, 60, 14, 71, 48, 16, 42, 4]
print('List 14 =', list_14)
print('Type =', type(list_14))
print('Sum > 5000 =', sum(list_14) > 5000)

list_15 = [80, 53, 77, 1, 43, 72, 29, 77, 36, 60, 59, 11, 100, 32, 1, 35, 98, 31, 20, 34, 5, 91, 57, 45, 5]
print('List 15 =', list_15)
print('Type =', type(list_15))
print('Sum > 200 =', sum(list_15) > 200)
print("")

student_11 = {'name': 'Arjun', 'age': 28, 'city': 'Nagpur', 'country': 'Canada', 'email': 'student2656@gmail.com', 'phone': '9141309480', 'roll_no': 303, 'grade': 'B', 'subject': 'Computer', 'marks': 32, 'height': 190, 'weight': 85, 'blood_group': 'A-', 'hobby': 'Football', 'sports': 'Badminton', 'language': 'English', 'father_name': 'Karan', 'mother_name': 'Karan', 'college': 'College_15', 'year': 2025}
print('Student 11 =', student_11)
print('Type =', type(student_11))
print('Age >= 21 =', student_11['age'] >= 21)
print('Marks >= 50 =', student_11['marks'] >= 50)

student_12 = {'name': 'Meera', 'age': 24, 'city': 'Mumbai', 'country': 'India', 'email': 'student2799@gmail.com', 'phone': '6933924527', 'roll_no': 407, 'grade': 'B', 'subject': 'History', 'marks': 43, 'height': 156, 'weight': 69, 'blood_group': 'A+', 'hobby': 'Football', 'sports': 'Badminton', 'language': 'Hindi', 'father_name': 'Priya', 'mother_name': 'Suresh', 'college': 'College_13', 'year': 2023}
print('Student 12 =', student_12)
print('Type =', type(student_12))
print('Age >= 25 =', student_12['age'] >= 25)
print('Marks < 85 =', student_12['marks'] < 85)

student_13 = {'name': 'Priya', 'age': 19, 'city': 'Pune', 'country': 'India', 'email': 'student281@gmail.com', 'phone': '6290752093', 'roll_no': 242, 'grade': 'A', 'subject': 'Science', 'marks': 54, 'height': 159, 'weight': 56, 'blood_group': 'B+', 'hobby': 'Cricket', 'sports': 'Football', 'language': 'Tamil', 'father_name': 'Amit', 'mother_name': 'Rohit', 'college': 'College_13', 'year': 2022}
print('Student 13 =', student_13)
print('Type =', type(student_13))
print('Age >= 27 =', student_13['age'] >= 27)
print('Marks >= 65 =', student_13['marks'] >= 65)

student_14 = {'name': 'Karan', 'age': 22, 'city': 'Mumbai', 'country': 'USA', 'email': 'student2986@gmail.com', 'phone': '7329326488', 'roll_no': 421, 'grade': 'C', 'subject': 'Computer', 'marks': 63, 'height': 187, 'weight': 85, 'blood_group': 'A-', 'hobby': 'Football', 'sports': 'Football', 'language': 'Telugu', 'father_name': 'Arjun', 'mother_name': 'Meera', 'college': 'College_12', 'year': 2023}
print('Student 14 =', student_14)
print('Type =', type(student_14))
print('Age >= 22 =', student_14['age'] >= 22)
print('Marks >= 55 =', student_14['marks'] >= 55)

student_15 = {'name': 'Amit', 'age': 28, 'city': 'Mumbai', 'country': 'UK', 'email': 'student3060@gmail.com', 'phone': '8572336912', 'roll_no': 296, 'grade': 'A', 'subject': 'Computer', 'marks': 57, 'height': 154, 'weight': 77, 'blood_group': 'A-', 'hobby': 'Dancing', 'sports': 'Cricket', 'language': 'Tamil', 'father_name': 'Suresh', 'mother_name': 'Anita', 'college': 'College_11', 'year': 2025}
print('Student 15 =', student_15)
print('Type =', type(student_15))
print('Age >= 18 =', student_15['age'] >= 18)
print('Marks >= 30 =', student_15['marks'] >= 30)

List 11 = [50, 29, 18, 52, 24, 81, 24, 56, 96, 43, 55, 76, 82, 87, 70, 8, 41, 89, 36, 77, 95, 39, 79, 40, 61]
Type = <class 'list'>
Sum > 500 = True
List 12 = [53, 44, 16, 29, 15, 67, 95, 13, 56, 35, 50, 48, 1, 64, 13, 60, 57, 50, 33, 5, 60, 95, 69, 24, 82]
Type = <class 'list'>
Sum < 1200 = True
List 13 = [77, 12, 1, 48, 85, 97, 65, 100, 9, 83, 3, 90, 53, 19, 56, 34, 74, 90, 17, 32, 34, 64, 29, 44, 4]
Type = <class 'list'>
Sum > 2000 = False
List 14 = [35, 70, 95, 29, 37, 79, 97, 70, 32, 10, 63, 45, 97, 47, 77, 55, 56, 47, 60, 14, 71, 48, 16, 42, 4]
Type = <class 'list'>
Sum > 5000 = False
List 15 = [80, 53, 77, 1, 43, 72, 29, 77, 36, 60, 59, 11, 100, 32, 1, 35, 98, 31, 20, 34, 5, 91, 57, 45, 5]
Type = <class 'list'>
Sum > 200 = True

Student 11 = {'name': 'Arjun', 'age': 28, 'city': 'Nagpur', 'country': 'Canada', 'email': 'student2656@gmail.com', 'phone': '9141309480', 'roll_no': 303, 'grade': 'B', 'subject': 'Computer', 'marks': 32, 'height': 190, 'weight': 85, 'blood_group': 'A-', 'hobby': 'Football', 'sports': 'Badminton', 'language': 'English', 'father_name': 'Karan', 'mother_name': 'Karan', 'college': 'College_15', 'year': 2025}
Type = <class 'dict'>
Age >= 21 = True
Marks >= 50 = False
Student 12 = {'name': 'Meera', 'age': 24, 'city': 'Mumbai', 'country': 'India', 'email': 'student2799@gmail.com', 'phone': '6933924527', 'roll_no': 407, 'grade': 'B', 'subject': 'History', 'marks': 43, 'height': 156, 'weight': 69, 'blood_group': 'A+', 'hobby': 'Football', 'sports': 'Badminton', 'language': 'Hindi', 'father_name': 'Priya', 'mother_name': 'Suresh', 'college': 'College_13', 'year': 2023}
Type = <class 'dict'>
Age >= 25 = False
Marks < 85 = True
Student 13 = {'name': 'Priya', 'age': 19, 'city': 'Pune', 'country': 'India', 'email': 'student281@gmail.com', 'phone': '6290752093', 'roll_no': 242, 'grade': 'A', 'subject': 'Science', 'marks': 54, 'height': 159, 'weight': 56, 'blood_group': 'B+', 'hobby': 'Cricket', 'sports': 'Football', 'language': 'Tamil', 'father_name': 'Amit', 'mother_name': 'Rohit', 'college': 'College_13', 'year': 2022}
Type = <class 'dict'>
Age >= 27 = False
Marks >= 65 = False
Student 14 = {'name': 'Karan', 'age': 22, 'city': 'Mumbai', 'country': 'USA', 'email': 'student2986@gmail.com', 'phone': '7329326488', 'roll_no': 421, 'grade': 'C', 'subject': 'Computer', 'marks': 63, 'height': 187, 'weight': 85, 'blood_group': 'A-', 'hobby': 'Football', 'sports': 'Football', 'language': 'Telugu', 'father_name': 'Arjun', 'mother_name': 'Meera', 'college': 'College_12', 'year': 2023}
Type = <class 'dict'>
Age >= 22 = True
Marks >= 55 = True
Student 15 = {'name': 'Amit', 'age': 28, 'city': 'Mumbai', 'country': 'UK', 'email': 'student3060@gmail.com', 'phone': '8572336912', 'roll_no': 296, 'grade': 'A', 'subject': 'Computer', 'marks': 57, 'height': 154, 'weight': 77, 'blood_group': 'A-', 'hobby': 'Dancing', 'sports': 'Cricket', 'language': 'Tamil', 'father_name': 'Suresh', 'mother_name': 'Anita', 'college': 'College_11', 'year': 2025}
Type = <class 'dict'>
Age >= 18 = True
Marks >= 30 = True

In [50]:
list_16 = [7, 61, 74, 61, 80, 10, 23, 51, 97, 14, 68, 82, 98, 62, 90, 46, 64, 50, 87, 91, 54, 74, 85, 85, 38]
print('List 16 =', list_16)
print('Type =', type(list_16))
print('Sum < 1000 =', sum(list_16) < 1000)

list_17 = [17, 6, 12, 64, 31, 41, 12, 89, 80, 76, 31, 28, 4, 79, 15, 36, 35, 47, 11, 20, 29, 68, 20, 72, 9]
print('List 17 =', list_17)
print('Type =', type(list_17))
print('Sum > 20000 =', sum(list_17) > 20000)

list_18 = [3, 20, 90, 72, 3, 85, 11, 15, 75, 48, 8, 36, 4, 63, 79, 71, 32, 26, 35, 91, 68, 2, 30, 38, 50]
print('List 18 =', list_18)
print('Type =', type(list_18))
print('Sum > 500 =', sum(list_18) > 500)

list_19 = [14, 72, 28, 43, 67, 8, 37, 66, 41, 90, 73, 25, 50, 37, 98, 76, 94, 83, 71, 19, 35, 37, 81, 96, 12]
print('List 19 =', list_19)
print('Type =', type(list_19))
print('Sum < 2500 =', sum(list_19) < 2500)

list_20 = [18, 51, 36, 48, 96, 7, 74, 24, 63, 52, 5, 15, 85, 27, 5, 15, 48, 37, 4, 26, 99, 88, 66, 70, 27]
print('List 20 =', list_20)
print('Type =', type(list_20))
print('Sum > 15000 =', sum(list_20) > 15000)
print("")

student_16 = {'name': 'Pooja', 'age': 28, 'city': 'Nagpur', 'country': 'USA', 'email': 'student3666@gmail.com', 'phone': '9544415526', 'roll_no': 360, 'grade': 'B', 'subject': 'Computer', 'marks': 91, 'height': 166, 'weight': 69, 'blood_group': 'B+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Marathi', 'father_name': 'Anita', 'mother_name': 'Rohit', 'college': 'College_3', 'year': 2025}
print('Student 16 =', student_16)
print('Type =', type(student_16))
print('Age >= 25', student_16['age'] >= 25)
print('Marks >= 20', student_16['marks'] >= 20)

student_17 = {'name': 'Meera', 'age': 18, 'city': 'Delhi', 'country': 'Australia', 'email': 'student3778@gmail.com', 'phone': '6432241372', 'roll_no': 26, 'grade': 'B', 'subject': 'History', 'marks': 62, 'height': 185, 'weight': 57, 'blood_group': 'B+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Telugu', 'father_name': 'Anita', 'mother_name': 'Arjun', 'college': 'College_10', 'year': 2025}
print('Student 17 =', student_17)
print('Type =', type(student_17))
print('Age >= 21 =', student_17['age'] >= 21)
print('Marks >= 80 =', student_17['marks'] >= 80)

student_18 = {'name': 'Karan', 'age': 18, 'city': 'Pune', 'country': 'Australia', 'email': 'student3869@gmail.com', 'phone': '9524211079', 'roll_no': 460, 'grade': 'A', 'subject': 'Computer', 'marks': 43, 'height': 187, 'weight': 59, 'blood_group': 'A-', 'hobby': 'Singing', 'sports': 'Hockey', 'language': 'Tamil', 'father_name': 'Meera', 'mother_name': 'Rohit', 'college': 'College_11', 'year': 2025}
print('Student 18 =', student_18)
print('Type =', type(student_18))
print('Age >= 29 =', student_18['age'] >= 29)
print('Marks < 55 =', student_18['marks'] < 55)

student_19 = {'name': 'Suresh', 'age': 27, 'city': 'Chennai', 'country': 'UK', 'email': 'student1917@gmail.com', 'phone': '7166588356', 'roll_no': 432, 'grade': 'B', 'subject': 'English', 'marks': 43, 'height': 189, 'weight': 53, 'blood_group': 'B-', 'hobby': 'Reading', 'sports': 'Cricket', 'language': 'Hindi', 'father_name': 'Meera', 'mother_name': 'Suresh', 'college': 'College_2', 'year': 2023}
print('Student 19 =', student_19)
print('Type =', type(student_19))
print('Age >= 26 =', student_19['age'] >= 26)
print('Marks >= 25 =', student_19['marks'] >= 25)

student_20 = {'name': 'Amit', 'age': 23, 'city': 'Bangalore', 'country': 'Canada', 'email': 'student4043@gmail.com', 'phone': '6420314201', 'roll_no': 460, 'grade': 'D', 'subject': 'Math', 'marks': 44, 'height': 175, 'weight': 49, 'blood_group': 'AB+', 'hobby': 'Cricket', 'sports': 'Cricket', 'language': 'Tamil', 'father_name': 'Meera', 'mother_name': 'Anita', 'college': 'College_19', 'year': 2023}
print('Student 20 =', student_20)
print('Type =', type(student_20))
print('Age < 20 =', student_20['age'] < 20)
print('Marks >= 88 =', student_20['marks'] >= 88)

List 16 = [7, 61, 74, 61, 80, 10, 23, 51, 97, 14, 68, 82, 98, 62, 90, 46, 64, 50, 87, 91, 54, 74, 85, 85, 38]
Type = <class 'list'>
Sum < 1000 = False
List 17 = [17, 6, 12, 64, 31, 41, 12, 89, 80, 76, 31, 28, 4, 79, 15, 36, 35, 47, 11, 20, 29, 68, 20, 72, 9]
Type = <class 'list'>
Sum > 20000 = False
List 18 = [3, 20, 90, 72, 3, 85, 11, 15, 75, 48, 8, 36, 4, 63, 79, 71, 32, 26, 35, 91, 68, 2, 30, 38, 50]
Type = <class 'list'>
Sum > 500 = True
List 19 = [14, 72, 28, 43, 67, 8, 37, 66, 41, 90, 73, 25, 50, 37, 98, 76, 94, 83, 71, 19, 35, 37, 81, 96, 12]
Type = <class 'list'>
Sum < 2500 = True
List 20 = [18, 51, 36, 48, 96, 7, 74, 24, 63, 52, 5, 15, 85, 27, 5, 15, 48, 37, 4, 26, 99, 88, 66, 70, 27]
Type = <class 'list'>
Sum > 15000 = False

Student 16 = {'name': 'Pooja', 'age': 28, 'city': 'Nagpur', 'country': 'USA', 'email': 'student3666@gmail.com', 'phone': '9544415526', 'roll_no': 360, 'grade': 'B', 'subject': 'Computer', 'marks': 91, 'height': 166, 'weight': 69, 'blood_group': 'B+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Marathi', 'father_name': 'Anita', 'mother_name': 'Rohit', 'college': 'College_3', 'year': 2025}
Type = <class 'dict'>
Age >= 25 True
Marks >= 20 True
Student 17 = {'name': 'Meera', 'age': 18, 'city': 'Delhi', 'country': 'Australia', 'email': 'student3778@gmail.com', 'phone': '6432241372', 'roll_no': 26, 'grade': 'B', 'subject': 'History', 'marks': 62, 'height': 185, 'weight': 57, 'blood_group': 'B+', 'hobby': 'Singing', 'sports': 'Badminton', 'language': 'Telugu', 'father_name': 'Anita', 'mother_name': 'Arjun', 'college': 'College_10', 'year': 2025}
Type = <class 'dict'>
Age >= 21 = False
Marks >= 80 = False
Student 18 = {'name': 'Karan', 'age': 18, 'city': 'Pune', 'country': 'Australia', 'email': 'student3869@gmail.com', 'phone': '9524211079', 'roll_no': 460, 'grade': 'A', 'subject': 'Computer', 'marks': 43, 'height': 187, 'weight': 59, 'blood_group': 'A-', 'hobby': 'Singing', 'sports': 'Hockey', 'language': 'Tamil', 'father_name': 'Meera', 'mother_name': 'Rohit', 'college': 'College_11', 'year': 2025}
Type = <class 'dict'>
Age >= 29 = False
Marks < 55 = True
Student 19 = {'name': 'Suresh', 'age': 27, 'city': 'Chennai', 'country': 'UK', 'email': 'student1917@gmail.com', 'phone': '7166588356', 'roll_no': 432, 'grade': 'B', 'subject': 'English', 'marks': 43, 'height': 189, 'weight': 53, 'blood_group': 'B-', 'hobby': 'Reading', 'sports': 'Cricket', 'language': 'Hindi', 'father_name': 'Meera', 'mother_name': 'Suresh', 'college': 'College_2', 'year': 2023}
Type = <class 'dict'>
Age >= 26 = True
Marks >= 25 = True
Student 20 = {'name': 'Amit', 'age': 23, 'city': 'Bangalore', 'country': 'Canada', 'email': 'student4043@gmail.com', 'phone': '6420314201', 'roll_no': 460, 'grade': 'D', 'subject': 'Math', 'marks': 44, 'height': 175, 'weight': 49, 'blood_group': 'AB+', 'hobby': 'Cricket', 'sports': 'Cricket', 'language': 'Tamil', 'father_name': 'Meera', 'mother_name': 'Anita', 'college': 'College_19', 'year': 2023}
Type = <class 'dict'>
Age < 20 = False
Marks >= 88 = False

In [51]:

list_21 = [22, 88, 7, 98, 37, 96, 18, 81, 89, 59, 63, 6, 99, 72, 22, 3, 18, 83, 71, 39, 12, 95, 35, 62, 75]
print('List 21 =', list_21)
print('Type =', type(list_21))
print('Sum < 500', sum(list_21) < 500)

list_22 = [37, 90, 18, 17, 31, 79, 12, 21, 13, 22, 57, 20, 38, 58, 25, 52, 25, 2, 67, 27, 20, 15, 100, 79, 26]
print('List 22 =', list_22)
print('Type =', type(list_22))
print('Sum > 1000', sum(list_22) > 1000)

list_23 = [78, 32, 82, 29, 10, 27, 21, 28, 79, 66, 26, 30, 95, 56, 21, 28, 88, 25, 9, 56, 83, 19, 66, 62, 6]
print('List 23 =', list_23)
print('Type =', type(list_23))
print('Sum > 50000', sum(list_23) > 50000)

list_24 = [44, 98, 94, 41, 61, 19, 1, 65, 30, 85, 34, 45, 84, 64, 76, 75, 89, 31, 15, 57, 84, 17, 71, 60, 3]
print('List 24 =', list_24)
print('Type =', type(list_24))
print('Sum < 200', sum(list_24) < 200)

list_25 = [58, 44, 90, 46, 61, 23, 42, 41, 11, 93, 49, 61, 93, 28, 82, 96, 6, 80, 70, 87, 5, 94, 45, 75, 22]
print('List 25 =', list_25)
print('Type =', type(list_25))
print('Sum < 100', sum(list_25) < 100)
print("")

student_21 = {'name': 'Suresh', 'age': 24, 'city': 'Pune', 'country': 'India', 'email': 'student2193@gmail.com', 'phone': '6338240603', 'roll_no': 253, 'grade': 'A', 'subject': 'Computer', 'marks': 77, 'height': 179, 'weight': 45, 'blood_group': 'B+', 'hobby': 'Reading', 'sports': 'Football', 'language': 'Tamil', 'father_name': 'Amit', 'mother_name': 'Neha', 'college': 'College_14', 'year': 2025}
print('Student 21 =', student_21)
print('Type =', type(student_21))
print('Age >= 21 =', student_21['age'] >= 21)
print('Marks >= 50 =', student_21['marks'] >= 50)

student_22 = {'name': 'Rohit', 'age': 19, 'city': 'Kolkata', 'country': 'India', 'email': 'student2245@gmail.com', 'phone': '8714688863', 'roll_no': 144, 'grade': 'C', 'subject': 'English', 'marks': 51, 'height': 154, 'weight': 84, 'blood_group': 'A+', 'hobby': 'Reading', 'sports': 'Badminton', 'language': 'Marathi', 'father_name': 'Pooja', 'mother_name': 'Amit', 'college': 'College_9', 'year': 2024}
print('Student 22 =', student_22)
print('Type =', type(student_22))
print('Age >= 25 =', student_22['age'] >= 25)
print('Marks >= 55 =', student_22['marks'] >= 50)

student_23 = {'name': 'Priya', 'age': 30, 'city': 'Pune', 'country': 'USA', 'email': 'student235@gmail.com', 'phone': '8049131809', 'roll_no': 416, 'grade': 'A', 'subject': 'Computer', 'marks': 66, 'height': 171, 'weight': 74, 'blood_group': 'O-', 'hobby': 'Football', 'sports': 'Cricket', 'language': 'Telugu', 'father_name': 'Neha', 'mother_name': 'Anita', 'college': 'College_14', 'year': 2025}
print('Student 23 =', student_23)
print('Type =', type(student_23))
print('Age >= 26 =', student_23['age'] >= 26)
print('Marks < 50 =', student_23['marks'] < 50)

student_24 = {'name': 'Suresh', 'age': 24, 'city': 'Nagpur', 'country': 'Canada', 'email': 'student2440@gmail.com', 'phone': '9965933336', 'roll_no': 460, 'grade': 'B', 'subject': 'Computer', 'marks': 99, 'height': 168, 'weight': 24, 'blood_group': 'O-', 'hobby': 'Singing', 'sports': 'Football', 'language': 'English', 'father_name': 'Suresh', 'mother_name': 'Priya', 'college': 'College_17', 'year': 2022}
print('Student 24 =', student_24)
print('Type =', type(student_24))
print('Age >= 25 =', student_24['age'] >= 25)
print('Marks > 90 =', student_24['marks'] > 90)

student_25 = {'name': 'Priya', 'age': 26, 'city': 'Chennai', 'country': 'Australia', 'email': 'student2595@gmail.com', 'phone': '6900627966', 'roll_no': 119, 'grade': 'B', 'subject': 'Science', 'marks': 48, 'height': 189, 'weight': 82, 'blood_group': 'A+', 'hobby': 'Cricket', 'sports': 'Badminton', 'language': 'Telugu', 'father_name': 'Pooja', 'mother_name': 'Pooja', 'college': 'College_2', 'year': 2025}
print('Student 25 =', student_25)
print('Type =', type(student_25))
print('Age < 24 =', student_25['age'] < 24)
print('Marks > 85 =', student_25['marks'] > 85)

List 21 = [22, 88, 7, 98, 37, 96, 18, 81, 89, 59, 63, 6, 99, 72, 22, 3, 18, 83, 71, 39, 12, 95, 35, 62, 75]
Type = <class 'list'>
Sum < 500 False
List 22 = [37, 90, 18, 17, 31, 79, 12, 21, 13, 22, 57, 20, 38, 58, 25, 52, 25, 2, 67, 27, 20, 15, 100, 79, 26]
Type = <class 'list'>
Sum > 1000 False
List 23 = [78, 32, 82, 29, 10, 27, 21, 28, 79, 66, 26, 30, 95, 56, 21, 28, 88, 25, 9, 56, 83, 19, 66, 62, 6]
Type = <class 'list'>
Sum > 50000 False
List 24 = [44, 98, 94, 41, 61, 19, 1, 65, 30, 85, 34, 45, 84, 64, 76, 75, 89, 31, 15, 57, 84, 17, 71, 60, 3]
Type = <class 'list'>
Sum < 200 False
List 25 = [58, 44, 90, 46, 61, 23, 42, 41, 11, 93, 49, 61, 93, 28, 82, 96, 6, 80, 70, 87, 5, 94, 45, 75, 22]
Type = <class 'list'>
Sum < 100 False

Student 21 = {'name': 'Suresh', 'age': 24, 'city': 'Pune', 'country': 'India', 'email': 'student2193@gmail.com', 'phone': '6338240603', 'roll_no': 253, 'grade': 'A', 'subject': 'Computer', 'marks': 77, 'height': 179, 'weight': 45, 'blood_group': 'B+', 'hobby': 'Reading', 'sports': 'Football', 'language': 'Tamil', 'father_name': 'Amit', 'mother_name': 'Neha', 'college': 'College_14', 'year': 2025}
Type = <class 'dict'>
Age >= 21 = True
Marks >= 50 = True
Student 22 = {'name': 'Rohit', 'age': 19, 'city': 'Kolkata', 'country': 'India', 'email': 'student2245@gmail.com', 'phone': '8714688863', 'roll_no': 144, 'grade': 'C', 'subject': 'English', 'marks': 51, 'height': 154, 'weight': 84, 'blood_group': 'A+', 'hobby': 'Reading', 'sports': 'Badminton', 'language': 'Marathi', 'father_name': 'Pooja', 'mother_name': 'Amit', 'college': 'College_9', 'year': 2024}
Type = <class 'dict'>
Age >= 25 = False
Marks >= 55 = True
Student 23 = {'name': 'Priya', 'age': 30, 'city': 'Pune', 'country': 'USA', 'email': 'student235@gmail.com', 'phone': '8049131809', 'roll_no': 416, 'grade': 'A', 'subject': 'Computer', 'marks': 66, 'height': 171, 'weight': 74, 'blood_group': 'O-', 'hobby': 'Football', 'sports': 'Cricket', 'language': 'Telugu', 'father_name': 'Neha', 'mother_name': 'Anita', 'college': 'College_14', 'year': 2025}
Type = <class 'dict'>
Age >= 26 = True
Marks < 50 = False
Student 24 = {'name': 'Suresh', 'age': 24, 'city': 'Nagpur', 'country': 'Canada', 'email': 'student2440@gmail.com', 'phone': '9965933336', 'roll_no': 460, 'grade': 'B', 'subject': 'Computer', 'marks': 99, 'height': 168, 'weight': 24, 'blood_group': 'O-', 'hobby': 'Singing', 'sports': 'Football', 'language': 'English', 'father_name': 'Suresh', 'mother_name': 'Priya', 'college': 'College_17', 'year': 2022}
Type = <class 'dict'>
Age >= 25 = False
Marks > 90 = True
Student 25 = {'name': 'Priya', 'age': 26, 'city': 'Chennai', 'country': 'Australia', 'email': 'student2595@gmail.com', 'phone': '6900627966', 'roll_no': 119, 'grade': 'B', 'subject': 'Science', 'marks': 48, 'height': 189, 'weight': 82, 'blood_group': 'A+', 'hobby': 'Cricket', 'sports': 'Badminton', 'language': 'Telugu', 'father_name': 'Pooja', 'mother_name': 'Pooja', 'college': 'College_2', 'year': 2025}
Type = <class 'dict'>
Age < 24 = False
Marks > 85 = False